
/*对应整个容器*/
.TreeGrid{
	position: relative;
	overflow:hidden;
	font-size:11px;
}

/*遮罩容器*/
.TreeGrid-inner{
	position: relative;
	overflow:hidden;
	display:block;
	width: 10000px;
}

.table-resize-proxy {
	background: #aac5e7;
	position: absolute;
	width: 1px;
	height: 10000px;
	top: 0;
	/*left 在js中动态指定*/
	cursor: e-resize;
	display: block;
}

.TreeGrid table{
	border-collapse: collapse; 
	font-size: 11px;
	border1: 1px solid #778899;
}

.TreeGrid .header{
	background-color: #87CEEB;
	font-size: 11px;
	font-weight: 600;
}

.TreeGrid td{
	border: 1px solid #E6E6FA;
	padding: 4px 3px 2px 3px;
}

.TreeGrid a{
	text-decoration: underline;
	color: black;
}

.TreeGrid a:hover{
	color: blue;
}

.TreeGrid .row_hover{
	background-color: #E6E6FA;
}

.TreeGrid .row_active{
	background-color: #E0FFFF;
}

.TreeGrid .folder{
	border: 0;
	cursor:pointer;
	align:absmiddle;
}

.TreeGrid .image_nohand{
	border: 0;
	align:absmiddle;
}


.TreeGrid .nodeOpen{
	background:url(images/node_icons.png);
	background-repeat:no-repeat;
	/*截取图片*/
	background-position:-49px 2px;
	height:16px;
	width:16px;
	margin-right:2px;
	/*span这种元素不能设置宽度,所以要改为inline-block*/
	display:-moz-inline-box;
	display:inline-block;
}

.TreeGrid .nodeClose{
	background:url(images/node_icons.png);
	background-repeat:no-repeat;
	background-position:-33px 2px;
	height:16px;
	width:16px;
	margin-right:2px;
	display:-moz-inline-box;
	display:inline-block;
}

.TreeGrid .nodeLeaf{
	background:url(images/leaf_icon.gif);
	background-repeat:no-repeat;
	background-position:-0px 0px;
	height:16px;
	width:16px;
	margin-right:2px;
	display:-moz-inline-box;
	display:inline-block;
}

.pagination .first{
	background:url(images/pagination_icons.png);
	background-repeat:no-repeat;
	background-position:0px 3px;
	height:16px;
	width:16px;
	cursor:pointer;
	display:-moz-inline-box;
	display:inline-block;
}

.pagination .prev{
	background:url(images/pagination_icons.png);
	background-repeat:no-repeat;
	background-position:-16px 3px;
	height:16px;
	width:16px;
	cursor:pointer;
	display:-moz-inline-box;
	display:inline-block;
}

.pagination .next{
	background:url(images/pagination_icons.png);
	background-repeat:no-repeat;
	background-position:-32px 3px;
	height:16px;
	width:16px;
	cursor:pointer;
	display:-moz-inline-box;
	display:inline-block;
}

.pagination .last{
	background:url(images/pagination_icons.png);
	background-repeat:no-repeat;
	background-position:-48px 3px;
	height:16px;
	width:16px;
	cursor:pointer;
	display:-moz-inline-box;
	display:inline-block;
}

/*按钮禁用效果*/
.pagination .disabled{
	cursor:auto;
	-webkit-filter: grayscale(100%); 
	-webkit-filter: grayscale(1); 
	filter: grayscale(100%);
	filter:gray;
}

.pagination .page input{
	width:20px;
	height:16px;
	font-size:10px;
	display:-moz-inline-box;
	display:inline-block;
	text-align:center;
}



