/* come from demo.css */
*{
	font-size:12px;
}
body {
    font-family:verdana,helvetica,arial,sans-serif;
    padding:20px;
    font-size:12px;
    margin:0;
}
h2 {
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
.demo-info{
	padding:0 0 12px 0;
}
.demo-tip{
	display:none;
}

label{
	font-size:13px;
}



/* override this css to make the item float right */

.datagrid-toolbar {
  height: auto;
  padding: 1px 2px;
  border-width: 0 0 1px 0;
  border-style: solid;
  height: 30px;
}

.datagrid-toolbar table{
    float: right;
}

td.right {
	text-align: right;
	padding:0 30px 0 0;
}